{% if page.title == 'La tipografia' %}
<figure class="text-center">
	<img src="/public/img/la-tipografia-constructiva-per-a-titulars-d-artinpocket-ja-esta-disponible.png" alt="artinpocket/regular - La tipografia constructiva per a titulars d'Artinpocket ja està disponible" title="artinpocket/regular - La tipografia constructiva per a titulars d'Artinpocket ja està disponible">
	<figcaption>
		<p><small>artinpocket/regular - La tipografia constructiva per a titulars</small></p>
	</figcaption>
</figure>
{% endif %}
<div class="jumbotron text-center download">
  <h1>Descarregueu-vos la font Artinpocket!</h1>
  <p>La tipografia Artinpocket és lliure i ha estat creada sota llicència creative commons</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="http://download.artinpocketregular.com/download/Artinpocket_Font.zip"><i class="fa fa-download fa-lg"></i> Download</a></p>
  <p><small><i class="fa fa-user"></i><br/>u: mecenes / p: artinpocket</small></p>
</div>